In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd
import numpy as np
import gzip as gz

from IPython.display import display

In [11]:
# Define required variables
data_name = 'dataSet.gz'
key_name = 'keyphraseSet.txt'

In [12]:
# Read data_name with read_table function
dt = pd.read_table(gz.open(data_name))

# Read key_name with read_table function
dt_keys = pd.read_csv(key_name)

# Rename columns as follows
dt.columns = ['day', 'account_id', 'rank', 'keyphrase', 'avg_bid', 'impression', 'clicks']
dt_keys.columns = ['keys']

# Shuffle the datas
dt = dt.iloc[np.random.permutation(len(dt))]

In [15]:
display(dt_keys.head(10))

               keys
0  1001140e40fff9fd
1  10024382a4ae7a07
2  1002d06dcd20f283
3  1003306ca93ebfee
4  1004a8c8af63bb5b
5  1005df05ad84f962
6  10068f9fe94d0f16
7  1006a4984b65f5e5
8  1006f25cb0122400
9  1006fe0534f616c9

In [16]:
display(dt.head(10))

,day,account_id,rank,keyphrase,avg_bid,impression,clicks
66725564,14,108d9712-83b2-4314-8d32-eac8f8231242,14,aef4ee042bea9c6b 5b9834ef1db9cdf7 fc4f04e28774...,2000,13,0
52450412,71,282ca598-2fcb-4c55-9ff4-3aaab9fbee5c,7,3db691494440189b 95718c051dae97ec,290,9,0
21809029,37,c62a181f-4cee-447c-9291-bd2fc20ef497,19,ac26bfe54a8a8f38 3db691494440189b,1250,12,0
43723942,4,1c531bae-7e65-40e8-a296-d11856344035,4,3db691494440189b 21ea03c731b47a8b,430,73,0
58862060,123,40fe4ff0-201d-41ff-9c19-a105e2ce2350,12,cd74a8342d25d090 f27ed5f3db705aaf a206ad70b00b...,220,1,0
10010079,96,bf49b318-dfbf-4226-b0f9-bd839e02106c,4,79021a2e2c836c1a cb08b94d35660439 52c1175b74c3...,2500,2,0
40591285,113,adfc8e8d-4161-43e1-8eb5-72e2460abb4f,5,68ec5a81e325a413 760c20648990a210 79021a2e2c83...,100,2,0
74265984,123,1080f156-9250-438d-be22-46f1d49827b2,5,5b9834ef1db9cdf7 79021a2e2c836c1a,390,1,0
3887408,67,d9d7f9cd-9674-4c8c-b312-a342e473eeb6,5,3db691494440189b 30e0a355cdf8a591 62129a60c2c6...,850,9,0
49072228,121,af5451d2-3e0f-4ae2-8bee-9d164c628955,3,3db691494440189b 6718c29cfa54005a,460,1,0